
<select name="SelectHospDeptAndAMPM:DropDownDept" onchange="javascript:setTimeout('__doPostBack(\'SelectHospDeptAndAMPM$DropDownDept\',\'\')', 0)" language="javascript" id="SelectHospDeptAndAMPM_DropDownDept">
	<option selected="selected" value="">--選擇科部--</option>
	<option value="MED">內科部</option>
	<option value="GERO">老年醫學部</option>
  ...以此類推
</select>